.product {
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin-top: 15px;
}

.badge {
    padding: 5px 15px;
    background-color: #A7C7E7;
    border-radius: 3px;
}

button {
    all: unset;
    cursor: pointer;
}

.btn {
    padding: 15px 25px;
    border-radius: 3px;
}

.btn-danger {
    background-color: #FF6961;
    color: #fff;
}
.btn-success {
    background-color: #77DD77;
    color: #fff;
}

.product-count-container {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.product-img {
    width: 50px;
    height: 50px;
    border-radius: 3px;
}